@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}

/*.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #25DDF8;
}*/

/*-------------------Estilos de LOGIN--------------------*/
.box{
    position: absolute;
    width: 300px;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #478EFC;
    background: rgba(0,0,0,0.5);
    text-align: center;
}
.box input[type = text],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 7px;
    transition: 0.25s;
}
.box input[type = text]:focus,.box input[type = "password"]:focus{
    width: 200px;
    border-color: #2ecc71; 
}
.box input[type = submit]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 7px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = button]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #DE0A0A;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 7px;
    transition: 0.25s;
    cursor: pointer;
}
/*-------------------Estilos del header-------------------*/
.header {
    height: 60px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 5px;
    position: absolute;
    width: 140px;
    height: 140px;
}

.icon-menu {
    margin: 5px;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #478EFC;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}



/*--------------------Estilos del menu--------------------*/
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: #fff;
}

.menu__link:hover,
.select {
    background: rgba(0, 0, 0, 0.6);
    color: #25DDF8;
}

.mostrar {
    left: 0;
}

/*-------------------Estilos del banner-------------------*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #478EFC;
    font-size: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.banner__txt {
    display: none;

}

.banner2__titulo {
    color: #fff;
}

.banner2__txt {
    display: none;
    color: #fff;
}

.banner__img {
    width: 100%;
    height: 100%;
}

/*---------------------Estilo de boton---------------------*/
.buscar .contenido {
    height: 20px;
}

.contenido {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
}

.contenido2 {
    position: absolute;
    top: 70%;
    left: 21%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;

}

a.boton {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    margin: 15px 20%;
    text-decoration: none;
    color: #333;
    padding: 20px 40px;
    border: 2px solid #333;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
    -webkit-transition: all ease 400ms;
    -moz-transition: all ease 400ms;
    -ms-transition: all ease 400ms;
    margin-top: -90px;
    margin-bottom: 40px;
}

a.boton span {
    display: block;
    position: absolute;
    background: #25DDF8;
    transition: all ease 400ms;
    -webkit-transition: all ease 400ms;
    -moz-transition: all ease 400ms;
    -ms-transition: all ease 400ms;
    z-index: -1;
}

a.boton span.center {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: auto;
    transform: scale(0, 0);
    transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -ms-transition: all ease 500ms;
    z-index: -1;
}

a.boton:hover {
    color: #fff;
    border: 2px solid #25DDF8;
}

a.boton:hover span.center {
    transform: scale(2, 2);
    width: 160px;
    height: 160px;
}


/*Boton 2*/
.contenedor input[type=text] {
    border: 0;
    background: none;
    display: block;
    margin: 0.5px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 6px 4px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 6px;
    transition: 0.25s;
}

.contenedor input[type=text]:focus {
    width: 300px;
    border-color: #2ecc71;
}

.contenedor input[type=submit] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}

/*---------------------Estilos de info--------------------*/

.info__columna {
    background: #25DDF8;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

.info__img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

/*-------------------Estilos de cursos-------------------*/

.cursos__img {
    width: 1550px;
    height: 300px;

}


/*-------------------Estilos de footer-------------------*/

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/*-------------------Estilos responsive-------------------*/

@media(min-width:480px) {
    .logo {
        font-size: 40px;
    }

    .banner__titulo {
        font-size: 40px;
        margin: 5px 0;
    }

    .banner__txt {
        display: block;
        font-size: 20px;
        margin: 7px 0;
    }

    .banner2__titulo {
        font-size: 40px;
        margin: 5px 0;
    }

    .banner2__txt {
        display: block;
        font-size: 20px;
        margin: 7px 0;
    }

    .info {
        display: flex;
        justify-content: space-between;
        margin-top: -60px;
    }

    .info1 {
        display: flex;
        justify-content: space-between;
        margin-top: -500px;
    }

    .info2 {
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
    }

    .info3 {
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
    }

    .info__columna {
        width: 32%;
    }

    .info__titulo {
        font-size: 30px;
        margin: 5px 0;
    }

    .buscar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .boton {
        margin: 5px 0;
    }

}
